$navbar-default-bg: #e4f3fc;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float:left;
  font-size:1.7em;
  color:#444;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron { 
  background-image: asset-url('Imag1.jpg');
  background-size: cover;
  height:500px;
}

.jumbotron h1 {
  color: #fff;
  text-align:center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  color:#444;
  font-size: 1.7em;
  background-color: #e4f3fc;
}

footer {
  margin-top:45px;
  margin-right:27px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-top: -20px;
  margin-left: 15px;
}