<div class="container">
  <footer class="footer">
    <samll>
      Copyright &copy; <a href="http:/github.com/TravisHe"> Ruby and Rails Intro </a> 
      by <a href="http://www.travishe.com"> Travis He </a>
    </small>
    
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>